#mainContainer {
    padding: 1%;
}

#mainContainer h1 {
    color: white;
    font-weight: bold;
}

article p {
    color: #B5BAC1;
}

.SMS {
    color: #DBDEE1;
}

.section1Container h1,
.section1Container p {
    margin: 1rem 0;
}

.icon {
    font-size: 5rem;
    color: yellow;
}